<div class="m-10">
  <div class="text-lg mb-4">Checkboxes</div>
  <div class="border rounded p-6">
    <div class="flex">
      <div class="flex-1">
        <div class="text-sm mb-4">Checkbox Group</div>
        <tw-checkbox-group [formControl]="formControlGroup">
          <tw-checkbox label="One" value="ONE" class="block"></tw-checkbox>
          <tw-checkbox label="Two" value="TWO" class="block"></tw-checkbox>
          <tw-checkbox label="Three" value="THREE" class="block"></tw-checkbox>
        </tw-checkbox-group>
        <div class="text-red-500 text-xs leading-none mt-2" *ngIf="errorsGroup">{{ errorsGroup }}</div>

        <div class="mt-6 bg-gray-200 text-gray-700 text-sm py-2 px-4 rounded">
          Value: {{ formControlGroup.value }}
        </div>

        <div class="my-4">
          <button class="mr-2 btn btn-blue" *ngIf="this.formControlGroup.disabled" (click)="enableGroup()">Enable</button>
          <button class="mr-2 btn btn-blue" *ngIf="!this.formControlGroup.disabled" (click)="disableGroup()">Disable</button>
          <button class="mr-2 btn btn-red" (click)="errorGroup()">Error</button>
        </div>
      </div>

      <div class="m-2"></div>

      <div class="flex-1">
        <div class="text-sm mb-4">Single Checkbox</div>
        <tw-checkbox [formControl]="formControlSingle"
                     label="I accept the terms of use."
                     value="ACCEPTED"
                     class="block"></tw-checkbox>
        <div class="text-red-500 text-xs leading-none mt-2" *ngIf="errorsSingle">{{ errorsSingle}}</div>

        <div class="mt-6 bg-gray-200 text-gray-700 text-sm py-2 px-4 rounded">
          Value: {{ formControlSingle.value }}
        </div>

        <div class="my-4">
          <button class="mr-2 btn btn-blue" *ngIf="this.formControlSingle.disabled" (click)="enableSingle()">Enable</button>
          <button class="mr-2 btn btn-blue" *ngIf="!this.formControlSingle.disabled" (click)="disableSingle()">Disable</button>
          <button class="mr-2 btn btn-red" (click)="errorSingle()">Error</button>
        </div>
      </div>
    </div>
  </div>
</div>
