<tw-popper [hideOnClick]="true" [matchWidth]="true" placement="bottom-start"
           (opened)="handleOpen()"
           (closed)="handleClose()">
  <div class="select"
       [class.tw-input]="true"
       [class.tw-input-disabled]="disabled"
       [class.tw-input-error]="error"
       [class.tw-input-focus]="focused">
    <div class="selected-item-wrapper">
      <span class="placeholder" *ngIf="!filtering && !hasValue() && placeholder">{{placeholder}}</span>
      <span *ngIf="!filtering && !multiselect">{{singleSelectValueLabel}}</span>
      <span *ngIf="!filtering && multiselect">
        <tw-chip *ngFor="let option of selectedOptions"
                 [label]="option.label"
                 [disabled]="disabled"
                 (close)="this.handleRemove(option.value)">
        </tw-chip>
      </span>

      <input #filter class="filter" [class.opacity-0]="!filtering"
             (focusin)="handleFocus()"
             (focusout)="handleUnfocus()"
             [formControl]="filterTextControl">
    </div>
    <tw-svg class="angle-down" iconName="angleDown"></tw-svg>
  </div>
  <div (mouseleave)="handleMouseLeave()" #itemWrapper class="item-wrapper">
    <div (click)="handleClick(option)"
         (mouseenter)="handleMouseEnter(option)"
         *ngFor="let option of filteredOptions"
         [class.active]="option === activeItem"
         class="item"
         twScrollToActive
         scrollToActiveClass="active"
         [scrollToActiveElement]="itemWrapper">
      <tw-svg class="check" size="sm" iconName="check" *ngIf="isOptionSelected(option)"></tw-svg>
      {{option.label}}
    </div>
  </div>
</tw-popper>
