<div class="m-10">
  <div class="text-lg mb-4">Spinner</div>
  <div class="border rounded p-6">

    <div class="grid grid-flow-col grid-cols-4 grid-rows-5 divide-x divide-gray-300">
      <div></div> <!-- Blank Placeholder -->
      <div class="centered">Extra Small</div>
      <div class="centered">Small</div>
      <div class="centered">Medium</div>
      <div class="centered">Large</div>

      <div class="centered">Style 1</div>
      <tw-spinner class="centered" size="xs" spinnerStyle="style1"></tw-spinner>
      <tw-spinner class="centered" size="sm" spinnerStyle="style1"></tw-spinner>
      <tw-spinner class="centered" size="md" spinnerStyle="style1"></tw-spinner>
      <tw-spinner class="centered" size="lg" spinnerStyle="style1"></tw-spinner>

      <div class="centered">Style 2</div>
      <tw-spinner class="centered" size="xs" spinnerStyle="style2"></tw-spinner>
      <tw-spinner class="centered" size="sm" spinnerStyle="style2"></tw-spinner>
      <tw-spinner class="centered" size="md" spinnerStyle="style2"></tw-spinner>
      <tw-spinner class="centered" size="lg" spinnerStyle="style2"></tw-spinner>

      <div class="centered">Style 3</div>
      <tw-spinner class="centered" size="xs" spinnerStyle="style3"></tw-spinner>
      <tw-spinner class="centered" size="sm" spinnerStyle="style3"></tw-spinner>
      <tw-spinner class="centered" size="md" spinnerStyle="style3"></tw-spinner>
      <tw-spinner class="centered" size="lg" spinnerStyle="style3"></tw-spinner>

      <div></div><div></div><div></div><div></div><div></div> <!-- Placeholders to add extra line division. -->
    </div>

  </div>
</div>
