<div class="m-10">
  <div class="text-lg mb-4">Spinner</div>
  <div class="border rounded p-6">
    <div class="grid grid-flow-col grid-cols-4 grid-rows-5 divide-x divide-y divide-gray-300">

      <div class="mt-4">
        <div class="centered block">Buttons (w/ Changed Colors)</div>
        <div class="centered block">
          <button class="btn btn-blue">
            <tw-spinner size="xs" color="white"></tw-spinner>
          </button>
          <button class="btn btn-blue ml-2">
            <tw-spinner size="xs" spinnerStyle="style2" color="white"></tw-spinner>
          </button>
          <button class="btn btn-blue ml-2">
            <tw-spinner size="xs" spinnerStyle="style3" color="white"></tw-spinner>
          </button>
        </div>

        <div class="centered block mt-2">
          <button class="btn btn-red">
            <tw-spinner size="xs" color="white"></tw-spinner>
          </button>
          <button class="btn btn-red ml-2">
            <tw-spinner size="xs" spinnerStyle="style2" color="white"></tw-spinner>
          </button>
          <button class="btn btn-red ml-2">
            <tw-spinner size="xs" spinnerStyle="style3" color="white"></tw-spinner>
          </button>
        </div>
      </div>

      <div class="centered text">Extra Small</div>
      <div class="centered text">Small</div>
      <div class="centered text">Medium</div>
      <div class="centered text">Large</div>

      <div class="centered text">Style 1</div>
      <tw-spinner class="centered" size="xs" spinnerStyle="style1"></tw-spinner>
      <tw-spinner class="centered" size="sm" spinnerStyle="style1"></tw-spinner>
      <tw-spinner class="centered" size="md" spinnerStyle="style1"></tw-spinner>
      <tw-spinner class="centered" size="lg" spinnerStyle="style1"></tw-spinner>

      <div class="centered text">Style 2</div>
      <tw-spinner class="centered" size="xs" spinnerStyle="style2"></tw-spinner>
      <tw-spinner class="centered" size="sm" spinnerStyle="style2"></tw-spinner>
      <tw-spinner class="centered" size="md" spinnerStyle="style2"></tw-spinner>
      <tw-spinner class="centered" size="lg" spinnerStyle="style2"></tw-spinner>

      <div class="centered text">Style 3</div>
      <tw-spinner class="centered" size="xs" spinnerStyle="style3"></tw-spinner>
      <tw-spinner class="centered" size="sm" spinnerStyle="style3"></tw-spinner>
      <tw-spinner class="centered" size="md" spinnerStyle="style3"></tw-spinner>
      <tw-spinner class="centered" size="lg" spinnerStyle="style3"></tw-spinner>
    </div>
  </div>
</div>
