<div [class.tw-alert-success]="type === 'success'"
     [class.tw-alert-info]="type === 'info'"
     [class.tw-alert-warning]="type === 'warning'"
     [class.tw-alert-danger]="type === 'danger'">
  <div class="alert-wrapper">
    <div class="flex">

      <div class="py-1">
        <img src="../../assets/svg/check.svg" class="iconSVG" *ngIf="type === 'success'">
        <img src="../../assets/svg/info.svg" class="iconSVG" *ngIf="type === 'info'">
        <img src="../../assets/svg/exclamation.svg" class="iconSVG" *ngIf="type === 'warning'">
        <img src="../../assets/svg/times.svg" class="iconSVG" *ngIf="type === 'danger'">
      </div>

      <div>
        <div class="typeText">{{ type }}</div>
        <p class="messageText">{{ message }}</p>
      </div>

      <tw-svg class="closeButton" iconName="times" (click)="onClose()"></tw-svg>
    </div>
  </div>
</div>
