<div class="m-10">
  <div class="text-lg mb-4">Tabs</div>
  <div class="border rounded p-6">
    <tw-tab-group>
      <tw-tab label="Tab 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </tw-tab>

      <tw-tab label="Tab 2">
        I accept any content!
        <tw-spinner size="sm"></tw-spinner>
        <tw-checkbox></tw-checkbox>
        <tw-slide-toggle></tw-slide-toggle>
      </tw-tab>

      <tw-tab label="Tab 3">Hello world!</tw-tab>
    </tw-tab-group>
  </div>
</div>
