<tw-dialog-header>A header</tw-dialog-header>
<tw-dialog-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</tw-dialog-body>
<tw-dialog-footer>
  <div class="flex justify-end">
    <button class="btn btn-blue" (click)="closeDialog()">Close</button>
  </div>
</tw-dialog-footer>


