<tw-popper [hideOnClick]="true">
  <div class="menu-wrapper"
    [class.active]="popper?.open">
    <tw-svg iconName="elipsisVertical"></tw-svg>
  </div>
  <div class="item-wrapper">
      <div class="item" *ngFor="let option of options" (click)="option.click()">
        <ng-container *ngTemplateOutlet="template ? template : defaultTemplate; context: {$implicit: option}"></ng-container>
      </div>
  </div>
</tw-popper>

<ng-template #defaultTemplate let-option>
  {{option.label}}
</ng-template>
